name: Build, test and publish
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_test_and_publish:
    name: Build, test and publish local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, windows]

    steps:
    - name: work around permission issue
      run: git config --global --add safe.directory /github/workspace

    - name: Add Ninja build to PATH
      run: echo "c:\program files\ninja" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: "Cloning repo"
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        submodules: recursive

    - name: "Cloning selective submodules"
      run: |
       git submodule update --init --recursive commonItems
       git -c submodule."external/commonItems".update=none `
           submodule update --init --recursive Fronter

    - name: "Get previous tag"
      if: ${{ github.event_name == 'push' }}
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"

    - name: Build with cmake
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
        cmake --preset x64-release-windows
        cmake --build --preset build-x64-release-windows --target EU5ToVic3Converter ConverterFrontend EU5ToVic3Tests -- -j40

    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\build\test\Release-Windows
       .\EU5ToVic3Tests.exe

    - name: "Prepare release"
      run: |
        cd "C:\Program Files\7-Zip\"
        .\7z.exe a $Env:GITHUB_WORKSPACE\EU5ToVic3-0.0Aadvark-win-x64.zip $Env:GITHUB_WORKSPACE\build\Release-Windows\*
        cp $Env:GITHUB_WORKSPACE\EU5ToVic3-0.0Aadvark-win-x64.zip $Env:GITHUB_WORKSPACE\EU5ToVic3-latest-win-x64.zip

    - name: "Prepare installer"
      run: |
        c:\"Program Files (x86)\Inno Setup 6\iscc" EU5ToVic3-Installer.iss
        cp $Env:GITHUB_WORKSPACE\Output\EU5ToVic3-latest-win-x64.exe $Env:GITHUB_WORKSPACE\Output\EU5ToVic3-0.0Aadvark-win-x64.exe

    - name: "Upload binaries to release"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.previoustag.outputs.tag }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: EU5ToVic3-0.0Aadvark-win-x64.zip, Output\EU5ToVic3-0.0Aadvark-win-x64.exe
        token: ${{ secrets.API_TOKEN_GITHUB }}

    - name: "Upload binaries to archive"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: windows_development_build
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: EU5ToVic3-0.0Aadvark-win-x64.zip, EU5ToVic3-latest-win-x64.zip, Output\EU5ToVic3-0.0Aadvark-win-x64.exe, Output\EU5ToVic3-latest-win-x64.exe
        token: ${{ secrets.API_TOKEN_GITHUB }}

    - name: "Prepare pull request artifact"
      if: ${{ github.event_name == 'pull_request' }}
      run: |
       cd "C:\Program Files\7-Zip\"
       .\7z.exe a $Env:GITHUB_WORKSPACE\EU5ToVic3-pull-request-win-x64.zip $Env:GITHUB_WORKSPACE\build\Release-Windows\*

    - uses: actions/upload-artifact@v4
      if: ${{ github.event_name == 'pull_request' }}
      with:
        name: pull-request-version
        path: EU5ToVic3-pull-request-win-x64.zip

    - name: "Cleanup"
      if: always()
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse

  build_test:
    name: Build and test foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: windows-2022

    steps:
    - name: "Cloning repo"
      uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: "Cloning selective submodules"
      run: |
       git submodule update --init --recursive commonItems
       git -c submodule."external/commonItems".update=none `
           submodule update --init --recursive Fronter

    - name: Install ninja
      run: |
        choco install ninja

    - name: Build with cmake
      shell: cmd
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
        cmake --preset x64-release-windows
        cmake --build --preset build-x64-release-windows --target EU5ToVic3Converter ConverterFrontend EU5ToVic3Tests -- -j40

    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\build\test\Release-Windows
       .\EU5ToVic3Tests.exe

    - name: "Cleanup"
      if: always()
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse